/*
  Mobile Only Hide, Computer Only Hide
-----------------------------------------------------------------------------*/
/* Mobile Only Hide */
@media (max-width: 767.98px) {
  .computer.only {
    display: none !important;
  }
}

/* Computer Only Hide */
@media (min-width: 768px) {
  .mobile.only {
    display: none !important;
  }
}

/*
  .hidden
-----------------------------------------------------------------------------*/
.hidden {
  display: none !important;
}
