/*=============================================================================
  ヘッダー
=============================================================================*/

/*-----------------------------------------------------------------------------
  色
-----------------------------------------------------------------------------*/
@import 'iro';

/*-----------------------------------------------------------------------------
  フッター
-----------------------------------------------------------------------------*/
footer.ui.bottom.menu {
  margin-top: 3rem;
  justify-content: center;
  box-shadow: none;
  background: $sakurairo;
  h4 {
    align-self: center;
  }
}
