$kyohiiro:          #ff251e;     // 京緋色(きょうひいろ)
$shinonomeiro:      #f19072;     // 東雲色(しののめいろ)
$nanohanairo:       #ffec47;     // 菜の花色(なのはないろ)
$sanaeiro:          #67a70c;     // 早苗色(さなえいろ)
$amairo:            #2ca9e1;     // 天色(あまいろ)
$utsushiiro:        #3d6eda;     // 移色(うつしいろ)
$botaniro:          #e7609e;     // 牡丹色(ぼたんいろ)
$ayameiro:          #674196;     // 菖蒲色(あやめいろ)
$otomeiro:          #f3cccc;     // 乙女色(おとめいろ)
$momijiiro:         #a61017;     // 紅葉色(もみじいろ)
$nibiiro:           #9ea1a3;     // 鈍色(にびいろ)
$kurohairo:         #0d0d0d;     // 黒羽色(くろはいろ)

$sakurairo:         #fef4f4;     // 桜色(さくらいろ)

$akikazeiro:        transparent; // 秋風色(あきかぜいろ)

$colors: (
  kyohiiro:          #ff251e,    // 京緋色(きょうひいろ)
  shinonomeiro:      #f19072,    // 東雲色(しののめいろ)
  nanohanairo:       #ffec47,    // 菜の花色(なのはないろ)
  sanaeiro:          #67a70c,    // 早苗色(さなえいろ)
  amairo:            #2ca9e1,    // 天色(あまいろ)
  utsushiiro:        #3d6eda,    // 移色(うつしいろ)
  botaniro:          #e7609e,    // 牡丹色(ぼたんいろ)
  ayameiro:          #674196,    // 菖蒲色(あやめいろ)
  otomeiro:          #f3cccc,    // 乙女色(おとめいろ)
  momijiiro:         #a61017,    // 紅葉色(もみじいろ)
  nibiiro:           #9ea1a3,    // 鈍色(にびいろ)
  kurohairo:         #0d0d0d,    // 黒羽色(くろはいろ)

  sakurairo:         #fef4f4,    // 桜色(さくらいろ)

  akikazeiro:        transparent // 夏風色(なつかぜいろ)
);

@each $name, $value in $colors {
  .#{$name} {
    color: $value !important;
  }
  .bg-#{$name} {
    background: $value !important;
  }
}
